.divtop {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: rgb(194, 194, 99);
    border-width: 5px;
    border-style: solid;
}

.divchange {
    border-color: blue;
    border-width: 1px;
    border-style: solid;

}

.divcen {
    width: 100%;
    text-align: center;
}

.divleft {
    width: 100%;
    text-align: left;
}

.divright {
    width: 100%;
    text-align: right;
}

.divfirst {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hello {

    color: gray;
    margin: 15px 15px 15px 240px;
    text-align: center;
}

.Personal {

    color: #5bcbff;
    margin: 15px 15px 15px 240px;
    text-align: center;
}

.dataPersonal {

    margin: 15px 15px 15px 240px;
    text-align: center;

}

.imgMe {
    width: 30%;
    border-radius: 100%;
    text-align: center;
    padding: 20px 20px 20px 20px;
    margin: 20px 100px 20px 20px;
}

.imgEvo {
    width: 50%;
    margin: 15px;
    text-align: center;
}

.divsecond {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5A405D
}

.imgwu {
    width: 35%;
    padding: 15px 15px 15px 15px;
    margin: 15px 15px 15px 15px;
    text-align: center;
}

.textedu {
    padding: 30px 15px 15px 15px;
    margin: 30px 15px 15px 15px;
    text-align: center;
}

.divthird {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.work {
    text-align: center;
}

.imgwork {
    width: 25%;
    text-align: center;
    padding: 15px 15px 15px 15px;
    margin: 15px 15px 15px 100px;
}


.workex {
    text-align: center;
    padding: 15px 15px 15px 15px;
    margin: 30px 5px 15px 15px;
}

.imgmetro {
    text-align: center;
    width: 20%;
    padding: 15px;
    margin: 15px;
}

.imgbaac {
    text-align: center;
    width: 20%;
    padding: 5px;
    margin: 5px;
}



.divfour {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: gray
}

.imgskillgo {
    width: 25%;
    margin: 15px 15px 5px 15px;

}

.imgskilldock {
    width: 25%;
    margin: 15px 15px 15px 15px;
}

.imgskillmong {
    width: 30%;
    margin: 15px 15px 5px 15px;
}

.imgskillgit {
    width: 25%;
    margin: 15px 15px 5px 15px;
}

.imgskillmar {
    width: 40%;
    margin: 15px 15px 15px 15px;
}

.divfive {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgcon {
    width: 20%;
    padding: 15px 15px 15px 15px;
    margin: 15px 15px 15px 150px;
}